@import "tailwindcss";

@theme {
  --font-sans: 'Figtree', sans-serif;

  --color-text-primary: #0a0a0a;
  --color-text-secondary: #ffffff;
  --color-text-tertiary: #6e6d6d;
  --color-text-inverse: #666977;
  
  --color-surface-base: #000000;
  --color-surface-strong: #f8f7f7;
  
  --color-status-pending: #d97706;
  --color-status-approved: #059669;
  --color-status-rejected: #dc2626;
  --color-status-completed: #6e6d6d;
  --color-status-cancelled: #6e6d6d;
  
  --color-role-patient: #0ea5e9;
  --color-role-doctor: #4f46e5;

  --spacing-1: 1px;
  --spacing-2: 4px;
  --spacing-3: 10px;
  --spacing-4: 12px;
  --spacing-5: 18px;
  --spacing-6: 22px;
  --spacing-7: 23.2px;
  --spacing-8: 24px;

  --radius-xs: 8px;
  --radius-sm: 12px;
  --radius-md: 16px;
  --radius-lg: 32px;
  --radius-xl: 40px;
  --radius-2xl: 9999px;

  --shadow-1: rgba(236,236,236,0.06) 0px 5.376px 5.376px 0px, rgba(165,165,165,0.06) 0px 1.344px 1.344px 0px;
  --shadow-2: rgba(25,33,61,0.1) 0px 1px 3.008px 0px;
  --shadow-3: color(srgb 0.0392157 0.0392157 0.0392157 / 0.1) 0px 2px 4px 0px;
  --shadow-4: rgba(25,33,61,0.1) 0px 2px 4px 0px;

  --text-xs: 13px;
  --text-sm: 16px;
  --text-md: 18px;
  --text-lg: 24px;
  --text-xl: 30px;
  --text-2xl: 48px;
  --text-3xl: 60px;
}

@utility duration-instant {
  transition-duration: 300ms;
}

@utility duration-fast {
  transition-duration: 800ms;
}

body {
  font-family: var(--font-sans);
  color: var(--color-text-primary);
  background-color: var(--color-surface-strong);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.clip-loader {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}